workflows/n8n_stock_monitoring.json
{
  "name": "Stock Monitoring & Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/30 9-16 * * 1-5" }]
        }
      },
      "id": "trigger-3",
      "name": "Schedule — Every 30min Market Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "jsCode": "const watchlist = [\n  { symbol: 'AAPL', name: 'Apple Inc.', alert_drop_pct: -2, alert_rise_pct: 3, max_price: 200, min_price: 170 },\n  { symbol: 'NVDA', name: 'NVIDIA Corp.', alert_drop_pct: -3, alert_rise_pct: 5, max_price: 950, min_price: 700 },\n  { symbol: 'TSLA', name: 'Tesla Inc.', alert_drop_pct: -4, alert_rise_pct: 6, max_price: 300, min_price: 180 },\n  { symbol: 'MSFT', name: 'Microsoft Corp.', alert_drop_pct: -2, alert_rise_pct: 3, max_price: 450, min_price: 380 },\n  { symbol: 'SPY', name: 'S&P 500 ETF', alert_drop_pct: -1.5, alert_rise_pct: 2, max_price: 560, min_price: 480 }\n];\nreturn watchlist.map(stock => ({ json: stock }));"
      },
      "id": "watchlist-3",
      "name": "Load Watchlist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbol }}?interval=1d&range=5d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36" }
          ]
        },
        "options": {}
      },
      "id": "yahoo-3",
      "name": "Fetch Yahoo Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json.chart?.result?.[0];\nif (!result) return [{ json: { error: 'No data', symbol: $('Load Watchlist').item.json.symbol } }];\nconst meta = result.meta;\nconst currentPrice = meta.regularMarketPrice;\nconst prevClose = meta.chartPreviousClose || meta.previousClose;\nconst change = currentPrice - prevClose;\nconst changePct = parseFloat(((change / prevClose) * 100).toFixed(2));\nconst closes = result.indicators?.quote?.[0]?.close || [];\nconst recentCloses = closes.filter(c => c !== null).slice(-5);\nconst fiveDayChange = recentCloses.length > 1\n  ? parseFloat((((recentCloses[recentCloses.length-1] - recentCloses[0]) / recentCloses[0]) * 100).toFixed(2))\n  : 0;\nconst watchItem = $('Load Watchlist').item.json;\nreturn [{\n  json: {\n    symbol: watchItem.symbol,\n    name: watchItem.name,\n    current_price: currentPrice,\n    prev_close: prevClose,\n    change: parseFloat(change.toFixed(2)),\n    change_pct: changePct,\n    day_high: meta.regularMarketDayHigh,\n    day_low: meta.regularMarketDayLow,\n    volume: meta.regularMarketVolume,\n    avg_volume: meta.averageDailyVolume3Month,\n    volume_ratio: meta.averageDailyVolume3Month ? parseFloat((meta.regularMarketVolume / meta.averageDailyVolume3Month).toFixed(2)) : null,\n    five_day_change_pct: fiveDayChange,\n    fetched_at: new Date().toISOString(),\n    alert_drop_pct: watchItem.alert_drop_pct,\n    alert_rise_pct: watchItem.alert_rise_pct,\n    max_price: watchItem.max_price,\n    min_price: watchItem.min_price\n  }\n}];"
      },
      "id": "parse-3",
      "name": "Parse Market Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst alerts = [];\nif (d.change_pct <= d.alert_drop_pct) alerts.push({ type: 'DROP', severity: 'HIGH', message: `${d.symbol} dropped ${d.change_pct}% (threshold: ${d.alert_drop_pct}%)` });\nif (d.change_pct >= d.alert_rise_pct) alerts.push({ type: 'SPIKE', severity: 'MEDIUM', message: `${d.symbol} surged +${d.change_pct}% (threshold: +${d.alert_rise_pct}%)` });\nif (d.current_price >= d.max_price) alerts.push({ type: 'PRICE_HIGH', severity: 'HIGH', message: `${d.symbol} hit ceiling $${d.current_price} (max: $${d.max_price})` });\nif (d.current_price <= d.min_price) alerts.push({ type: 'PRICE_LOW', severity: 'HIGH', message: `${d.symbol} hit floor $${d.current_price} (min: $${d.min_price})` });\nif (d.volume_ratio && d.volume_ratio >= 2.5) alerts.push({ type: 'VOLUME_SPIKE', severity: 'MEDIUM', message: `${d.symbol} volume is ${d.volume_ratio}x normal` });\nreturn [{ json: { ...d, alerts, has_alerts: alerts.length > 0, any_high_severity: alerts.some(a => a.severity === 'HIGH') } }];"
      },
      "id": "alerts-3",
      "name": "Check Alert Conditions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json.has_alerts }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        }
      },
      "id": "gate-3",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-opus-4-5', max_tokens: 500, messages: [{ role: 'user', content: 'You are a stock analyst. Analyze this alert situation briefly.\\n\\nStock: ' + $json.symbol + ' (' + $json.name + ')\\nPrice: $' + $json.current_price + '\\nToday Change: ' + $json.change_pct + '%\\n5-Day Change: ' + $json.five_day_change_pct + '%\\nVolume Ratio: ' + $json.volume_ratio + 'x\\nAlerts: ' + $json.alerts.map(a => a.message).join(', ') + '\\n\\nRespond ONLY with JSON:\\n{ \"summary\": \"<2-3 sentences>\", \"recommended_action\": \"HOLD|REVIEW|BUY_OPPORTUNITY|SELL_SIGNAL|WATCH_CLOSELY\", \"confidence\": \"LOW|MEDIUM|HIGH\", \"key_risk\": \"<one line>\", \"next_step\": \"<specific action for human reviewer>\" }' }] }) }}"
      },
      "id": "claude-3",
      "name": "Claude — AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 180]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.content[0].text.trim();\nconst analysis = JSON.parse(raw.replace(/```json?\\n?/g, '').replace(/```$/g, '').trim());\nconst d = $('Check Alert Conditions').item.json;\nconst msg = [\n  `STOCK ALERT — ${d.symbol} (${d.name})`,\n  `Price: $${d.current_price} (${d.change_pct > 0 ? '+' : ''}${d.change_pct}% today)`,\n  ``,\n  `AI Analysis: ${analysis.summary}`,\n  `Recommended: ${analysis.recommended_action} | Confidence: ${analysis.confidence}`,\n  `Risk: ${analysis.key_risk}`,\n  `Next Step: ${analysis.next_step}`,\n  ``,\n  `Triggered:`,\n  ...d.alerts.map(a => `  [${a.severity}] ${a.message}`),\n  ``,\n  `${new Date().toLocaleString()} | Final decision is YOURS`\n].join('\\n');\nconsole.log(msg);\nreturn [{ json: { ...d, ai_analysis: analysis, alert_message: msg, requires_human_approval: true } }];"
      },
      "id": "format-3",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 180]
    },
    {
      "parameters": {
        "jsCode": "console.log(`OK — ${$json.symbol}: $${$json.current_price} (${$json.change_pct > 0 ? '+' : ''}${$json.change_pct}%) — No alerts`);\nreturn [{ json: { symbol: $json.symbol, price: $json.current_price, change_pct: $json.change_pct, status: 'OK', checked_at: new Date().toISOString() } }];"
      },
      "id": "ok-3",
      "name": "Log All Clear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 420]
    }
  ],
  "connections": {
    "Schedule — Every 30min Market Hours": { "main": [[{ "node": "Load Watchlist", "type": "main", "index": 0 }]] },
    "Load Watchlist": { "main": [[{ "node": "Fetch Yahoo Finance", "type": "main", "index": 0 }]] },
    "Fetch Yahoo Finance": { "main": [[{ "node": "Parse Market Data", "type": "main", "index": 0 }]] },
    "Parse Market Data": { "main": [[{ "node": "Check Alert Conditions", "type": "main", "index": 0 }]] },
    "Check Alert Conditions": { "main": [[{ "node": "Has Alerts?", "type": "main", "index": 0 }]] },
    "Has Alerts?": { "main": [[{ "node": "Claude — AI Analysis", "type": "main", "index": 0 }], [{ "node": "Log All Clear", "type": "main", "index": 0 }]] },
    "Claude — AI Analysis": { "main": [[{ "node": "Format Alert", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["stage-2", "stock-monitoring"]
}
